<ul class="controls">
    <li class="close"><a href="#">x</a></li>
</ul>

<div class="article_detail">

    <h1>{{ title }}</h1>
    <p>Comments: {{ comment_count }}</p>

    {{{ mobalised }}}

</div>