<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hacker News</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/styles/dist/screen.css" rel="stylesheet">
</head>

<body>

    <div id="header">
        <p class="title">Hacker News for touch</p>
        <ul class="type">
            <li class="full">Full</li>
            <li class="readability">Readability</li>
        </ul>
    </div>

    <ul id="article_list"></ul>

</body>

<script type="text/javascript" src="/static/scripts/dist/hn.js"></script>
<script type="text/javascript">
    window.READABILITY_API_KEY = "{{ READABILITY_API_KEY }}";
</script>

</html>