/*

    - MIXINS AND CONFIG
    - BODY
    - ARTICLE LIST

*/

@import "reset";

/* MIXINS AND CONFIG
--------------------------------------------------------------------------- */
$normal:400;
$bold:700;
$basefont:16;

@function calc_em($target, $context: $basefont) {
    @return ($target / $context) * 1em;
}

/* BODY
--------------------------------------------------------------------------- */
body {
    font-family:'Ubuntu', sans-serif;
    font-size:calc_em(14);

    &.loading:before {
        content:"loading";
        font-size:calc_em(12);
        padding:calc_em(3, 12);
        color:rgb(255,255,255);
        display:block;
        background:rgb(65,131,196);
        text-align:center;
    }
}

#header {
    display:none;
}


/* ARTICLE LIST
--------------------------------------------------------------------------- */
#article_list {
    li {
        border-bottom:1px solid #ddd;
    }
    a {
        padding:1em;
        color:#333;
        text-decoration:none;
        display:block;

        &:hover,
        &:focus {
            background:rgba(0,0,0,0.02);
        }

        &:active {
            background:rgb(65,131,196);
            color:#fff;
        }
    }
    h4 {
        font-weight:$bold;
    }
    p {
        font-size:calc_em(12);
    }
}