/*

    - MIXINS AND CONFIG
    - BODY
    - ARTICLE LIST
    - ARTICLE DETAIL

*/

@import "reset";

/* MIXINS AND CONFIG
--------------------------------------------------------------------------- */
$normal:400;
$bold:700;
$basefont:16;

@function calc_em($target, $context: $basefont) {
    @return ($target / $context) * 1em;
}

/* BODY
--------------------------------------------------------------------------- */
body {
    font-family:'Ubuntu', sans-serif;
    font-size:calc_em(14);

    &.loading:before {
        content:"loading";
        font-size:calc_em(12);
        padding:0 calc_em(3, 12);
        color:rgb(255,255,255);
        display:block;
        background:rgb(65,131,196);
        text-align:center;
        position:fixed;
        top:0;
        left:0;
        width:100%;
    }
}

#header {
    display:none;
}


/* ARTICLE LIST
--------------------------------------------------------------------------- */
#article_list {
    li {
        border-bottom:1px solid #ddd;
    }
    a {
        padding:1em;
        color:#333;
        text-decoration:none;
        display:block;

        &:hover,
        &:focus {
            background:rgba(0,0,0,0.02);
        }

        &:active {
            background:rgb(65,131,196);
            color:#fff;
        }
    }
    h4 {
        font-weight:$bold;
    }
    p {
        font-size:calc_em(12);
    }
}


/* ARTICLE DETAIL
--------------------------------------------------------------------------- */
.articleDetail {
    position:fixed;
    overflow-y:auto;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    background:#fff;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);

    .controls {
        position:fixed;
        top:0;
        right:0;
    }
    .controls a {
        display:block;
        padding:1em;
        text-align:center;
        background:rgba(0,0,0,0.2);
    }
    > div {
        max-width:500px;
        padding:2em;
        margin:0 auto;
        font-family:'Droid Serif', serif;
        line-height:1.2em;

        h1,
        h2 {
            font-family:'Ubuntu', sans-serif;
            font-weight:700;
            font-size:calc_em(24);
            margin-bottom:1em;
        }

        img {
            max-width:100%;
        }

        table {
            border-collapse:collapse;
            border-spacing:0;

            td,
            th {
                border:1px solid #ddd;
                padding:0.2em;
            }
        }

        p,
        blockquote,
        ul,
        dl,
        ol {
            margin-bottom:1em;
        }
        ul,
        dl,
        ol {
            list-style-type:disc;

            li,
            dd {
                margin-bottom:0.5em;
            }
        }

    }
}